<!DOCTYPE html>
<html>
<head>
  <title>Gumawa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>
  <%= yield %>
<p>&copy; <%= link_to "vtt01uk", "http://www.github.com/vtt01uk", :target => "_blank" %> Copyright 2016</p>
</body>
</html>
