<!DOCTYPE html>
<html>
<head>
  <title>Gumawa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <%= render 'layouts/header' %>
    <div class="container">

      <!--send messages to users-->
      <!--https://github.com/plataformatec/devise/wiki/How-To:-Integrate-I18n-Flash-Messages-with-Devise-and-Bootstrap-->
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
            <a href="#" data-dismiss="alert" class="close">x</a>
            <%= msg %>
          </div>
        <% end %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
</body>
</html>




